	.content{
			width: 1200px;
			border: 1px solid #333;
			margin: 0 auto;
			padding: 20px;
			display: flex;
			justify-content: space-between;
			background-color: #E2F2F4;
			
		}
		body{
			font-family: Arial;
			color: #333;
		}
		.div1{
			border: 1px solid #333;
		}
		.left_show{
			width: 400px;
			background-size: 100%;
		}
		.right_item{
			width: 750px;
			padding: 0 10px;
			box-sizing: border-box;
		}
		
		.show_img{
			display: flex;
			align-items: center;
			justify-content: center;
			
		}
		.show_img .img{
			width: 700px;
			position: relative;
		}
		.img img{
			width: 100%;
		}
		.btn{
			margin: 10px 0;
			display: flex;
			justify-content: space-around;
		}

		 #hat{
				position: absolute;
    			top:  0px;
    			left: 50px;
    			width:330px;
    			height:80px;
    			border:solid;
		}

		#body{
			position: absolute;
            top:  100px;
            left: 70px;
            width:250px;
            height:100px;
            border:solid;
		}

		#feet{
	     position: absolute;
         top:  230px;
         left: 60px;
         width:250px;
         height:100px;
         border:solid;

		}



		.hat_w{

		      width:100px;
		      height:200px;
		      padding:5px;
		}

		.body_box{
		  width:100px;
          height:200px;
          padding:5px;
		}

       #body1{
                position:relative;
        	    left:-20px;
                top:-30px;
        		width:100px;

        		}


		#body2{
        position:relative;
	    left:-40px;
        top:-90px;
		width:350px;
		}

		#body3{
                position:relative;
        	    left:-50px;
                top:-90px;
        		width:370px;

        }

		#body4{
                position:relative;
        	    left:-65px;
                top:-85px;
        		width:380px;

        }



        #shoes1{
        position:relative;
        top:-200px;
        width:350px;
        left:-40px;

        }

         #shoes2{
                position:relative;
                top:-200px;
                width:350px;
                left:-40px;
                }




		.body_box{
		 width:100px;
         height:200px;
         padding:5px;
		}


		.xiaotu{
			display: flex;
		}
		.xiaotu div{
			display: flex;
			justify-content: space-between;
		}

		.xiaotu img{
			width: 100px;

			margin: 5px;
			height: 200px;
		}

		h3{
			text-align: center;
		}