	.content{
			width: 1200px;
			border: 1px solid #333;
			margin: 0 auto;
			padding: 20px;
			display: flex;
			justify-content: space-between;
			background-color: #E2F2F4;
			
		}
		body{
			font-family: Arial;
			color: #333;
		}
		.div1{
			border: 1px solid #333;
		}
		.left_show{
			width: 400px;
			background-size: 100%;
		}
		.right_item{
			width: 750px;
			padding: 0 10px;
			box-sizing: border-box;
		}
		
		.show_img{
			display: flex;
			align-items: center;
			justify-content: center;
			
		}
		.show_img .img{
			width: 350px;
			position: relative;
		}
		.img img{
			width: 100%;
		}
		.btn{
			margin: 10px 0;
			display: flex;
			justify-content: space-around;
		}

		 #hat{
				position: absolute;
    			top:  10px;
    			left: 35px;
    			width:300px;
    			height:300px;
		}

		.hat_w{

		      width:100px;
		      height:200px;
		      padding:5px;
		}




		img{

		}


		.xiaotu{
			display: flex;
		}
		.xiaotu div{
			display: flex;
			justify-content: space-between;
		}
		.xiaotu img{
			width: 100px;
			border: 1px solid #999;
			margin: 5px;
			height: 200px;
		}
		.hztz{
			position: absolute;
			bottom: 5px;
			left: 0;
		}
		h3{
			text-align: center;
		}